html, body {
	margin: 0;
	padding: 0;
}
#map {
	display: block;
	background: pink;
	width: 10000px;
	height: 10000px;
}

.node {
	position: absolute;
	top: 0px;
	text-align: center;
}

.node .inner-node {
	background: white;
	border: 1px solid black;
	cursor: pointer;
	width: 200px;
	height: 50px;
	margin: auto;
	position: relative;
}

.expand {
	position: absolute;
	bottom: 2px;
	right: 2px;
	background: pink;
	border: 1px solid black;
	width: 15px;
	height: 15px;
	text-align: center;
}