html, body {
	margin: 0;
	padding: 0;
}

#map {
	display: block;
	background: #ADE7FF url(bg.png);
	width: 10000px;
	height: 10000px;
}

.node {
	position: absolute;
	top: 0px;
	text-align: center;
	z-index: 6;
}

.node .inner-node {
	background: white;
	border: 1px solid black;
	width: 200px;
	height: 50px;
	margin: auto;
	position: relative;
}

.expand {
	position: absolute;
	bottom: 2px;
	right: 2px;
	background: url(expand.png);
	width: 11px;
	height: 8px;
	cursor: pointer;
}
.expand.expanded {
	background: url(collapse.png);
}

.link {
	position: absolute;
	bottom: 2px;
	left: 94px;
	background: url(link.png);
	width: 12px;
	height: 12px;
	text-align: center;
	cursor: pointer;
}

.url {
	position: absolute;
	bottom: 2px;
	left: 5px;
	width: 10px;
	height: 12px;
	text-align: center;
	cursor: pointer;
	background: url(link1.png);
}

.url1 {
	left: 20px;
	background: url(link2.png);
}

.url2 {
	left: 35px;
	width: 11px;
	background: url(link3.png);
}

#menu {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 150px;
	height: 100%;
	background: white;
	border-right: 2px solid black;
	z-index: 999;
	padding: 10px;
}

#menu.collapsed {
	height: 8px;
	overflow: hidden;
	border-bottom: 2px solid black;
}

#menu h2 {
	font-size: 1em;
	margin: 0;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#charts {
	position: absolute;
	overflow: scroll;
	top: 30px;
	bottom: 55px;
	width: 150px;
}

#menu li {
	cursor: pointer;
}

#menu li:hover {
	background: pink;
}

#menu .collapse {
	position: absolute;
	top: 15px;
	right: 6px;
	background: url(collapse.png);
	width: 11px;
	height: 8px;
	cursor: pointer;
}

#menu.collapsed .collapse {
	background: url(expand.png);
}

#about {
	position: absolute;
	color: black;
	font-weight: bold;

	font-size: 12px;
	display: block;
	bottom: 25px;
	left: 0px;
	width: 100%;
	text-align: center;
}

#about a {
	text-decoration: none;
	color: black;
}

.collapsed #about {
	display: none;
}

.chart {
	position: absolute;
	top: 10px;
}

svg {
	z-index: 5;
}

#breakout {
	position: fixed;
	top: 10px;
	right: 10px;
	cursor: pointer;
	width: 48px;
	height: 48px;
	background: url(fullscreen.png);
	z-index: 10;
	display: none;
}