html, body {
	margin: 0;
	padding: 0;
}

#map {
	display: block;
	background: #ADE7FF url(bg.png);
	width: 10000px;
	height: 10000px;
}

.node {
	position: absolute;
	top: 0px;
	text-align: center;
	z-index: 6;
}

.node .inner-node {
	background: white;
	border: 1px solid black;
	width: 200px;
	height: 50px;
	margin: auto;
	position: relative;
}

.expand {
	position: absolute;
	bottom: 2px;
	right: 2px;
	background: #000;
	color: #FFF;
	border: 1px solid black;
	width: 15px;
	height: 15px;
	text-align: center;
	cursor: pointer;
}

.link {
	position: absolute;
	bottom: 2px;
	left: 85px;
	background: #000;
	color: #FFF;
	border: 1px solid black;
	width: 29px;
	height: 15px;
	text-align: center;
	cursor: pointer;
}

.url {
	position: absolute;
	bottom: 2px;
	left: 5px;
	background: #000;
	color: #FFF;
	border: 1px solid black;
	width: 12px;
	height: 15px;
	text-align: center;
	cursor: pointer;
}

.url1 {
	left: 22px;
}

/*.url {
	position: absolute;
	bottom: 2px;
	left: 5px;
	background: #000;
	color: #FFF;
	border: 1px solid black;
	width: 29px;
	height: 15px;
	text-align: center;
	cursor: pointer;
}*/

#menu {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 150px;
	height: 100%;
	background: white;
	border-right: 2px solid black;
	z-index: 999;
	padding: 10px;
}

#menu.collapsed {
	height: 8px;
	overflow: hidden;
	border-bottom: 2px solid black;
}

#menu h2 {
	font-size: 1em;
	margin: 0;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu li {
	cursor: pointer;
}

#menu li:hover {
	background: pink;
}

#menu .collapse {
	position: absolute;
	top: 5px;
	right: 5px;
	background: #000;
	color: #FFF;
	border: 1px solid black;
	width: 15px;
	height: 15px;
	text-align: center;
	cursor: pointer;
}

#about {
	position: absolute;
	color: black;
	font-weight: bold;

	font-size: 12px;
	display: block;
	bottom: 25px;
	left: 0px;
	width: 100%;
	text-align: center;
}

#about a {
	text-decoration: none;
	color: black;
}

.collapsed #about {
	display: none;
}

.chart {
	position: absolute;
	top: 10px;
}

svg {
	z-index: 5;
}